body {

    color: #311111;
  }
  .jumbotron {
    background-image: url("../Belly Button Challenge/61dMa6bom7L._AC_SL1001_.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  .well {
    background-color: #186769;
    border: 1px solid #ad0f79;

} 
   